body {
    background-color: black;
    color: white;
}
.image-poster {
    border: 5px white solid;
    width: 100%;     // 1 
}
.poster {
    margin-top: 100px;

    margin-left: 25%; // 2
    width: 50%;       //3

    text-align: center;
}
#title {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}
