<!-- Write your code below -->

<h1>The Best Movies According to Manh</h1>
<h2>My top 3 movies of all time</h2>
<hr>
<h3>Spider Man</h3>
<p>This is my favourite anime. I love the beautiful images.</p>
<h3>Ex Machine</h3>
<p>Really cool sci-fi movie.</p>
<h3>Driver</h3>
<p>Super beautiful film. Realy artistic.</p>