<!DOCTYPE html>
<html>

<head>
  <title>Lisper</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/main.css">

</head>

<body>
  <h1>What's your secret?</h1>
  <div class="card">
    <% if(locals.secret) { %>
      <p>
      <%= secret %>
      </p>
      <%}%>
    
  </div>
  <% if(locals.user) { %>
    <p class="user">
      <%= user %>
    </p>
  <%}%>
</body>

</html>