
button {
    color: white;
    font-size: 50px;
    padding: 5px;
    width: 100px;
    height: 40px;
    background-color: brown;
    border-radius: 3px;
    margin: 10px;
    
}
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fontItalic {
    font-style: italic;
    font-size: 70px;
    color: blueviolet;
}