<!-- Kitten image URL -->
<h1>I'm a cat person</h1>
<img src="https://raw.githubusercontent.com/appbrewery/webdev/main/kitten.jpeg" alt="Im a cat person">


<!-- Puppy image URL -->
<h1>I'm a dog person</h1>
<img src="https://raw.githubusercontent.com/appbrewery/webdev/main/puppy.gif" alt="Im a dog person">

<h1>Some random image</h1>
<img src="https://picsum.photos/seed/picsum/300/300" alt="">
