body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
 
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

.left {
  float: left;
}
.right {

  float: right;
}

.tile-image { 
  float: left;
  width: 300px;
  margin-right: 20px;
}

.card {
  width: 45%;
  display: block;
  text-align: justify;
}

@media (max-width: 800px) {

  h1 {
    font-size: 3rem;
    text-align: center;
    width: 100%;
  }
  .tile-image {
    width: 100%;
    display: inline;
    object-fit: cover;
  }
  .card {
    display: block;
    width: 100%;
    
  }
  .logo {
    height: 30px;
  }
}






