<html>
    <head>
        <title>demo nodejs</title>
        <script src="jquery.js"> </script>
        <script src="socket.io/socket.io.js"> </script>
        <script>

            var socket = io("http://localhost:3000"); 
            $(document).ready(function()
            {
              //  alert("hello");
            });
        </script>
    </head>
    <body>
        hello world
        

    </body>
</html>