<!DOCTYPE html>
<html>

<head>
  <title>Taco Recipes</title>
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>

<body>
  <h1>Taco Town 🌮</h1>

  <form action="/recipe" method="POST" class="buttons">
    <button type="submit" value="chicken" name="choice">🍗</button>
    <button type="submit" value="beef" name="choice">🥩</button>
    <button type="submit" value="fish" name="choice">🐟</button>
  </form>
  <div id="recipeContainer" class="hidden">

    <!-- If no recipe yet, show: -->
    
    <!-- Else, show the recipe name e.g. <h2>Recipe name</h2>-->

    <%if (locals.listIngredientsHTML) {  %>
      <h2> <%= listIngredientsHTML[0] %></h2>
      <h3>Ingredients:</h3>
      <ul id="ingredientsList">
        <% for( let index = 1; index < listIngredientsHTML.length; index++ ) { %>
            <li>  <%= listIngredientsHTML[index] %> </li>
        <% } %>
      </ul>
    <%} else {%>
      <h2>Pick your favourite taco ingredient 👆</h2>
    <%}%>
    



  </div>
</body>

</html>