<h1>Welcome to My Website!</h1>
<!-- Add an image of yourself that links to the about page -->
<a href="./public/about.html"><img src="./assets/images/cat.png" alt="about me"></a>
<br>
<!-- Add a link to your contact me page here -->
<a href="./public/contact.html">contact me</a>