<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Hey, is a <%= weekday %>, it's time to <%= weekdaydost %>
    </h1>
</body>
</html>